@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  --primary: #0066CC;
  --white-color: #24242D;
  --light-color: #2f3542;
  --grey-color: #2f3542;
  --dark-color: #2f3542;

  --darkprimary: #0066CC;
  --darkwhite-color: #24242D;
  --darklight-color: #2f3542;
  --darkgrey-color: #2f3542;
  --darkdark-color: #2f3542;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
  color: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

input {
  background-color: var(--white-color);
  color: #fff;
}

ul {
  list-style: none;
  color: #fff;
}

h1,
h2 {
  font-weight: 600;
  line-height: normal;
  color: #fff;
}

h1 {
  font-size: 2.5em;
  color: #fff;
}

h2 {
  font-size: 2em;
  color: #fff;
}

body {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #fff;
  background-color: var(--white-color);
  overflow: hidden;
}

input::placeholder {
  font-family: "Poppins";
  color: #fff;
}

.container2 {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
}

.site {
  min-height: 100vh;
  transform: invert(1);
  min-height: 100svh;
}

.theform {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.invisible {
  visibility: hidden;
}

nav ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

nav ul li:first-child a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

#moon-icon li a {
  text-decoration: none;
}

nav ul li:first-child a:hover {
  background-color: var(--primary);
  color: var(--white-color);
  border: 0;
}

nav ul li:last-child {
  font-size: 12px;
}

nav ul li:last-child a {
  color: var(--primary);
  font-weight: 500;
}

nav ul li:last-child a:hover {
  text-decoration: underline;
}

.heading h2 {
  font-size: 42px;
  margin-top: 50px;
}

.heading p,
form.actions p {
  color: #fff;
  font-size: 14px;
}

form>p {
  position: relative;
  height: 46px;
}

form p input {
  font-family: inherit;
  width: 100%;
  outline: 0;
  padding: 0 30px;
  line-height: 40px;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: var(--light-color);
  background-color: var(--white-color);
  color: #fff;
}

form p:not(.socials) i {
  position: absolute;
  left: 0;
  top: 23px;
  line-height: 1;
  margin-top: -10px;
  color: var(--grey-color);
}

form p i.ri-eye-off-line {
  left: auto;
  right: 0;
  color: var(--dark-color);
  cursor: pointer;
}

form p i.ri-eye-line {
  left: auto;
  right: 0;
  color: var(--dark-color);
  cursor: pointer;
}

form .actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

form .actions label {
  width: 100%;
  position: relative;
  overflow: hidden;
}

form .actions label input {
  width: 100%;
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
  border: 0;
  border-radius: 25px;
  line-height: 46px;
  cursor: pointer;
}

form .actions label i {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 36px;
  height: 36px;
  padding: 10px;
  line-height: 1;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 25%);
  color: var(--white-color);
  cursor: pointer;
  transform: translateX(50px);
  visibility: hidden;
  transition: transform 0.3s, visibility 0.3s;
}

form .actions label:hover i {
  transform: translateX(0);
  visibility: inherit;
}

form .actions button {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 5px;
  background-color: transparent;
  border: 1px solid var(--light-color);
  border-radius: 50%;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

form .socials button:first-child {
  color: #4267b2;
}

form .socials button:last-child {
  color: #db4437;
}

form .socials button:first-child:hover {
  background-color: #4267b2;
}

form .socials button:last-child:hover {
  background-color: #db4437;
}

form .socials button:hover {
  color: var(--white-color);
  border: 0;
}

.theform .play {
  position: relative;
  min-height: 300px;
  transform: translateX(18%) rotateX("-180deg") scale(0.65) rotate(70deg);
  z-index: 1;
}

.theform .play .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.theform .play .card {
  position: absolute;
  width: 350px;
  height: 500px;
  border-radius: 30px;
  scale: 2.1;
}

.play .card.one {
  background-color: #0055a6;
  transform: rotate(290deg) translate3d(20%, 35%, 0) skewY(-20deg);
}

.play .card.two {
  background-color: #005db3;
  transform: rotate(318deg) translate3d(60%, 8%, 0) scale(1.1);
}

.play .card.three {
  background-color: #0060bf;
  transform: rotate(335deg) translate3d(100%, -20%, 0);
}

.play .card.four {
  background-color: #dddcfb;
  transform: rotate(-15deg) translate3d(45%, 105%, 0) scale(0.7);
}

.play .card.five {
  background-color: #005599;
  transform: rotate(283deg) translate3d(-150%, 50%, 0);
}




/* anim */

.signin,
.signin-show .signup {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.signin-show .signin,
.signup-show .signup {
  visibility: visible;
  opacity: 1;
  height: auto;
  transition: visibility 0.7s, 0.3s, opacity 0.7s 0.3s;
}

.signin-show .signin {
  animation: signinswipe 1s 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes signinswipe {
  from {
    transform: translate3d(-20%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.signup-show .signup {
  animation: signupswipe 1s 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes signupswipe {
  from {
    transform: translate3d(-20%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/* anim mobile */

.signin-show .play {
  animation: signinplaymobile 1s both;
}

@keyframes signinplaymobile {
  0% {
    transform: translateX(18%) rotateX(-180) scale(0.65) rotate(70deg);
  }

  50% {
    transform: translateX(0) rotateX(0) scale(5) rotate(138deg);
  }

  100% {
    transform: translateX(0) rotateX(0) scale(0.65) rotate(70deg);
  }
}

.signup-show .play {
  animation: signupplaymobile 1s both;
}

@keyframes signupplaymobile {
  0% {
    transform: translateX(-50%) skewY(20deg);
  }

  50% {
    transform: translateX(0) rotateX(0) scale(5) skewY(138deg) rotateY(40deg);
  }

  100% {
    transform: translateX(18%) rotateX(-180deg) scale(0.65) rotate(70deg);
  }
}

@media screen and (min-width: 768px) {
  .theform {
    padding: 50px 0;
    flex-direction: row;
  }

  .theform>div {
    flex: 1 0 50%;
  }

  .signup {
    padding: 0 13% 0 5%;
  }

  .signin {
    padding: 0 5% 0 13%;
  }

  .signin {
    height: auto;
  }

  .theform .play {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 1;
    transform: translateX(100%);
  }

  .signin-show .play {
    animation: signinplay 1s both;
  }

  @keyframes signinplay {
    0% {
      transform: translateX(100%) skewY(20deg);
    }

    50% {
      transform: translateX(25%) scale(10) skewY(40deg) rotateY(180deg);
    }

    100% {
      transform: translateX(0) rotateY(180deg);
    }
  }

  .signup-show .play {
    animation: signupplay 1s both;
  }

  @keyframes signupplay {
    0% {
      transform: translateX(-50%) skewY(80deg);
    }

    50% {
      transform: translateX(0) scale(10) skewY(80deg);
    }

    100% {
      transform: translateX(100%);
    }
  }
}

@media screen and (min-width: 992px) {
  form .actions {
    flex-direction: row;
    justify-content: space-between;
  }

  form .actions label {
    max-width: 180px;
  }
}